<!-- app.component.html -->
<div class="container">
    <!-- Heading Section -->
    <div class="heading">
        <h1>Visual Debugging Example</h1>
    </div>
  
    <!-- Custom Components -->
    <div><app-aria-role></app-aria-role></div>
    <hr aria-label="separator">
  
    <div><app-native-role></app-native-role></div>
    <hr aria-label="separator">
  
    <div><app-aria-label></app-aria-label></div>
    <hr aria-label="separator">
  
    <div><app-aria-text></app-aria-text></div>
  </div>
  



